.tabulatr-sort{
  opacity: 0.3;
}

.tabulatr-sort:hover{
  cursor: pointer;
}

i.sorted{
  opacity: 1;
}

i.tabulatr_remove_filter:hover{
  cursor: pointer;
}

.tabulatr_filtered_column{
  text-decoration: underline;
}
