.tabulatr-sort{
  opacity: 0.3;
}

.tabulatr-sort:hover{
  cursor: pointer;
}

.sorted{
  opacity: 1;
}

i.tabulatr_remove_filter:hover{
  cursor: pointer;
}

.tabulatr_filtered_column{
  text-decoration: underline;
}

.tabulatr-per-page {
  margin: 20px 10px;
  a.active{
    background-color: red;
  }
}

.table-controls div{
  margin: 20px 10px;
  display: inline-block;
  vertical-align: middle;
}

.table-controls i, .tabulatr_table i{
  margin-right: 5px;
}

.table-controls .form-inline{
  display: inline-block;
  position: relative;
  vertical-align: top;
}

#tabulatr-wrench{
  margin-left: 10px;
}

.pagination{
  margin: 20px;
  vertical-align: middle;
}
